// Generate heading selectors
// Reference http://jsfiddle.net/csswizardry/NbLg7/
@mixin headings( $start: 1, $end: 6 ) {
	$heading-selectors: ();
	@for $i from $start through $end {
		$heading-selectors: append( $heading-selectors, h + $i, comma );
	}
	#{$heading-selectors} {
		@content
	}
}
