// Convert any property's values to REMs
// Requires the functions from https://github.com/Threespot/sass-patterns/tree/master/calc-units
// Reference https://github.com/bitmanic/rem/blob/master/stylesheets/_rem.scss
@mixin rem( $property, $px-values ) {
    // Print the first line in pixel values
    #{$property}: $px-values;
    
    // If there is only one (numeric) value, return the property/value line for it.
    @if type-of($px-values) == "number" {
        #{$property}: rem( $px-values );
    }
    @else {
        // Create an empty list that we can dump values into
        $rem-values: ();
        @each $value in $px-values {
            // If the value is zero or not a number, return it
            @if $value == 0 or type-of( $value ) != "number" {
                $rem-values: append($rem-values, $value);
            }
            // Convert numbers to rems
            @else {
                $rem-values: append($rem-values, rem( $value ));
            }
        }
        // Return the property and its list of converted values
        #{$property}: $rem-values;
    }
}
