/* Generate Media Queries */
// Reference:
// http://jakearchibald.github.com/sass-ie/

$fixed-width: false !default;

// Default breakpoints if not defined
$breakpoints: small,
              medium 768,
              large 960 !default;

// Number of breakpoints
$break-count: length($breakpoints);

@mixin breakpoint( $name ) {
	$index: 1; // Create index var to use in @each loop

	// Find width cutoff of breakpoint
	@each $break in $breakpoints {
		@if $name == nth($break, 1) {
			
			// Output plain CSS if fixed width is >= current breakpoint width
			@if $fixed-width {
				@if $index == 1 or $fixed-width >= nth($break, 2) {
					@content;
				}
			}
			// Wrap code in media query
			@else if $index > 1 {
				@media only screen and ( min-width: em( nth($break, 2) ) ) {
					@content;
				}
			}
			// Output plain CSS for smallest breakpoint
			@else {
				@content;
			}
		}
		
		// Increment counter
		$index: $index + 1;
	}
}


@mixin max-breakpoint( $name ) {
	$index: 1; // Create index var to use in @each loop

	// Find width cutoff of breakpoint
	@each $break in $breakpoints {
		@if $name == nth($break, 1) {

			// Check if fixed width has been set
			@if $fixed-width {
				// For first breakpoint, add styles if fixed width is < second breakpoint
				@if $index == 1 and $fixed-width < px( nth( nth($breakpoints, 2), 2 ) ) {
					@content;
				}
				// For all other breakopints, add styles if fixed width <= breakpoint
				@else if $index > 1 and $fixed-width <= nth($break, 2) {
					@content;
				}
			}
			// If not fixed width, add appropriate media query
			@else if $index < $break-count {
				// Get next breakpoint width, subtract 1px
				$max-width: nth( nth($breakpoints, $index + 1), 2 ) - 1;
				
				@media only screen and ( max-width: em( $max-width ) ) {
					@content;
				}
			}
			// Last breakpoint
			@else {
				// Use breakpoint width
				@media only screen and ( max-width: em( nth($break, 2) ) ) {
					@content;
				}
			}
		}
		
		// Increment counter
		$index: $index + 1;
	}
}
